<!DOCTYPE html>
<html>
  <head>
    <title>WeMeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
